<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CovidBase</title>
</head>
<body>
  <center>
    <div class="title">
      <h1>CovidBase</h1>
    </div>
  </center>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyB-nXlLNJNjhSxgW-2ouqKnDnsgKi8pBFk",
      authDomain: "covidbaseindia.firebaseapp.com",
      projectId: "covidbaseindia",
      storageBucket: "covidbaseindia.appspot.com",
      messagingSenderId: "552531775365",
      appId: "1:552531775365:web:8de0ee4d786621583bfeec",
      measurementId: "G-1NMWJPZVD5"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
</body>
</html>